:root {
     /* Colors */
     --slate-50: 248, 250, 252;           /*  #f8fafc;  */
    --slate-100: 241, 245, 249;           /*  #f1f5f9;  */
    --slate-200: 226, 232, 240;           /*  #e2e8f0;  */
    --slate-300: 203, 213, 225;           /*  #cbd5e1;  */
    --slate-400: 148, 163, 184;           /*  #94a3b8;  */
    --slate-500: 100, 116, 139;           /*  #64748b;  */
    --slate-600: 71, 85, 105;             /*  #475569;  */
    --slate-700: 51, 65, 85;              /*  #334155;  */
    --slate-800: 30, 41, 59;              /*  #1e293b;  */
    --slate-900: 15, 23, 42;              /*  #0f172a;  */
    --slate-950: 2, 6, 23;                /*  #020617;  */

    --gray-100: 243, 244, 246;            /*  #f3f4f6   */
    --gray-200: 229, 231, 235;            /*  #e5e7eb   */
    --gray-400: 156, 163, 175;            /*  #9ca3af   */
    --gray-500: 107, 114, 128;            /*  #6b7280   */
    --gray-600: 75, 85, 99;               /*  #4b5563   */
    --gray-700: 55, 65, 81;               /*  #374151   */
    --gray-900: 17, 24, 39;               /*  #111827   */
    --gray-950: 3, 7, 18;                 /*  #030712   */

    --green-50: 240, 253, 244;           /*   #f0fdf4   */
    --green-500: 34, 197, 94;             /*   #22c55e   */
    --green-600: 22, 163, 74;             /*   #16a34a   */
    --green-700: 21, 128, 61;             /*   #15803d   */

    /* Background */
    --bg-image: linear-gradient(
        to right top,
        #047857, #00846f, #009187, #009d9f,
        #00a8b6, #00b3be, #00bdc5, #00c8cc,
        #00d4ba, #17de9a, #67e46e, #a3e635
    );

    /* Shadow */
    --shadow: 5px 5px 20px rgba(var(--gray-950), 0.3),
             -5px -5px 20px rgba(var(--gray-950), 0.3);
    --shadow-form: 10px 10px 20px rgba(var(--gray-950), 0.3),
             -10px -10px 20px rgba(var(--gray-950), 0.3);

    /* Fonts */
    --font-sans: "Inter"; /* "Inter", sans-serif */
    --font-serif: "Rubik"; /* "Rubik", serif */
}